input {
  display: block;
  height: 30px;
  width: 250px;
  border-radius: 20px;
  margin: 20px;
}

p {
  font-size: 30px;
}

#errormsg {
  margin: 1rem;
  font-size: 24px;
  padding: 1rem 4rem;
  color: Red;
}

label {
  font-size: 20px;
  color: #85bb65;
}

button {
  padding: 1rem;
  font-size: 20px;
  border-radius: 20px;
  background-color: #1da1f2;
  color: white;
}
caption {
  margin-top: 20px;
  font-size: 20px;
  margin-bottom: 30px;

  color: #85bb65;
}

.notes {
  background-color: white;
  padding: 1rem;
  color: #155e75;
  font-weight: bold;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
